.main-kitchen {
    position:relative;
    .main-kitchen-form {
        position:absolute;
        z-index:98;
        right:20px;
        padding:20px;
        border-radius:8px;
        max-width:500px;
        top: 50%;
        transform: translateY(-50%);
        input {
            width:100%;
        }
        input[type="submit"] {
            background:$orange;
            color:black;
            border:1px solid $orange;
            font-weight:600;
        }
    }
}

.quality-kitchens {
    img {
    max-width:100%;
    display:block;
    }
    .row {
        align-items: end;
    }
}
.main-kitchen {
    .main-kitchen-form button[type="button"] {
        background: $orange;
        color: black;
        border: 1px solid $orange;
        font-weight: 600;
    }
}
.main-kitchen {
    .main-kitchen-form input {
        width: 100%;
    }
    .main-kitchen-form label {
        width: 100%;
    }
    .main-kitchen-form button {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .main-kitchen {
        .main-kitchen-form {
            max-width: 550px;
        }
    }
}
@media (max-width: 990px) {
    .main-kitchen {
        .main-kitchen-form {
            position: relative;
            top: auto;
            max-width: 100%;
            padding: 0;
            right:auto;
            margin-top: 20px;
            transform: none;
        }
    }
    .quality-kitchens {
        h2 {
        margin: 10px 0;
        }
        .row {
            align-items: flex-start;
        }
        .quality-kitchens-text {
            .m-b_50 {
                margin-bottom: 20px;
            }
        }
        img {
            margin-bottom:10px;
        }
    }
}

@media (max-width: 576px) {
    .quality-kitchens {
        .quality-kitchens-text {
            h3 {
                font-size: 23px;
            }
        }
    }
}
