.main-kitchen {
    position:relative;
    .main-kitchen-form {
        position:absolute;
        z-index:98;
        right:20px;
        padding:20px;
        border-radius:8px;
        max-width:500px;
        top: 50%;
        transform: translateY(-50%);
        input {
            width:100%;
        }
        input[type="submit"] {
            background:$orange;
            color:black;
            border:1px solid $orange;
            font-weight:600;
        }
    }
}
.advantages-kitchen {
    padding: 50px 0 0 0;
    .advantages-kitchen-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
        > div {
            width:calc(100% - 157px);
        }
        svg {
            margin-right: 10px;
            width: 147px;
        }
        .heading {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 700;
            color: $orange;
            text-transform: uppercase;
        }
    }
}
.quality-kitchens {
    img {
    max-width:100%;
    display:block;
    }
    .row {
        align-items: end;
    }
}
.main-kitchen {
    .main-kitchen-form input[type="submit"] {
        background: $orange;
        color: black;
        border: 1px solid $orange;
        font-weight: 600;
    }
}
.main-kitchen {
    .main-kitchen-form input {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .main-kitchen {
        .main-kitchen-form {
            max-width: 550px;
        }
    }
}
@media (max-width: 990px) {
    .main-kitchen {
        .main-kitchen-form {
            position: relative;
            top: auto;
            max-width: 100%;
            padding: 0;
            right:auto;
            margin-top: 20px;
            transform: none;
        }
    }
    .quality-kitchens {
        h2 {
        margin: 10px 0;
        }
        .row {
            align-items: flex-start;
        }
        .quality-kitchens-text {
            .m-b_50 {
                margin-bottom: 20px;
            }
        }
        img {
            margin-bottom:10px;
        }
    }
}
@media (max-width: 768px) {
    .advantages-kitchen {
        .advantages-kitchen-item {
            margin-bottom: 20px;
            > div {
                width: calc(100% - 117px);
            }
            svg {
                width:100px;
                height: 100px;
            }
        }
    }
.advantages-kitchen-item > div {}
}
@media (max-width: 576px) {
    .advantages-kitchen {
        .advantages-kitchen-item {
            margin-bottom: 20px;
            > div {
                width: calc(100% - 87px);
            }
            svg {
                width:70px;
                height: 70px;
            }
            .heading {
                margin-bottom: 0px;
                font-size: 16px;
            }
        }
    }
    .quality-kitchens {
        .quality-kitchens-text {
            h3 {
                font-size: 23px;
            }
        }
    }
}
