@import "form/form-bottom-ikea-kitchens";

///// Стили для формы, которая используется внизу всех статей, парсера и тд. Стандартная форма с именем, телефоном и вопросом
.parser-fos {
    background: #F2F2F2;
}
