@import "pages/ikea-kitchens";

///// о компании

.about-block-text {padding: 60px;}
.about-block-text a {color:$orange;}

///// Тарифы
.block-tariffs {
    .heading {
        color: $orange;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.tariffs-items {
    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
