///// о компании

.about-block-text {padding: 60px;}
.about-block-text a {color:$orange;}

///// Тарифы


.tariffs-items {
    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
