@import "post/article-modular kitchens";
@import "post/article-modular-kitchens2025";
@import "post/article-furniture-ikea2025";

.article-chapter {
    border:1px solid #B9B9B9;
    border-radius:8px;
    padding: 0 20px 20px 20px;
}
.article-chapter a {text-decoration:none;}
