@import "widgets/text02";
@import "widgets/text03";
@import "widgets/text05";
@import "widgets/text06";
@import "widgets/text07";
@import "widgets/text08";
@import "widgets/main_interesting";
@import "widgets/main_text-contacts";
