//WISH
.wish .wish-item-img img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}
.wish .wish-item {

}
.wish .wish-item-info {

}
.wish .wish-item-control {
    margin: auto;
    margin-right: 0;
}

//MENU
.cabinet-menu-block {
    padding: 0 !important;
    margin-bottom: 40px;
    margin-right: 60px;
    margin-left: 60px;
    box-shadow: $shadow-box;
    overflow: hidden;
}
.cabinet-menu {
    margin: 0;
    padding: 0 !important;
}
.cabinet-menu li {
    list-style: none;
    display: grid;
    border-bottom: 1px solid var(--bs-gray-400);
}
.cabinet-menu li > a {
    padding: 8px 20px;
    width: 100%;
}
.cabinet-menu-item i {
    margin-right: 24px; width: 20px;
}
.cabinet-menu li:nth-last-child(1){
    border-bottom: none;
}
.cabinet-menu li > a:hover {
    background: var(--bs-gray-800);
    color: var(--bs-white);
}

.cabinet-menu li.active > a {
    background: var(--bs-gray-600);
    color: var(--bs-white);
}

.cabinet-menu li.active > a:hover {
    background: var(--bs-gray-800);
    color: var(--bs-white);
}

//ORDERS
.order-header {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background-color: var(--bs-gray-200);
    margin: -10px -10px 0 -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px 10px;
}
.order-body {
    display: flex;
    padding: 10px;
}
.order-body>div:nth-child(1) {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
}
.order-body>div:nth-child(2) {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
    justify-content: right;
}
.order-footer {
    font-size: 0.9rem;
    margin: 0 -10px -10px -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--bs-gray-100);
    padding: 4px 10px;
    font-weight: 500;
}
