:root {
    --gap: 24px;
}

.panel-cart-manage {
    width: 100%;
    height: 60px;
}

//Список товаров
.full-cart-items {
    padding-right: 24px;
    flex-basis: calc(66.6666% - var(--gap));
    max-width: calc(66.6666% - var(--gap));
}

.full-cart-item--img img {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    //box-shadow: $shadow-img;
}
.full-cart-item--checked {
    margin: auto 0;
    margin-right: 20px;
    align-items: center;
}
.full-cart-item--info {
    width: 100%;
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
}
.full-cart-item-control {
    width: 220px;
    display: flex;
    flex-direction: column;
}
.full-cart-item-control>.set-value {
    display: flex;
}
.full-cart-item-control>.buttons {
    margin-top: auto;
    text-align: center;
}
.cartitem-set {
    text-align: center;
}
.full-cart-item--costblock {
    margin-top: auto;
}
.full-cart-item--cost > .current-cost {
    font-size: 1.25rem;

}
.full-cart-item--combinate > .discount-cost {
    font-size: 1.25rem;
    color: var(--bs-red);
}
.full-cart-item--combinate > .current-cost {
    text-decoration: line-through;
    font-size: 1.0rem;
    color: var(--bs-gray-500);
}


.cart-page .current-price {
    margin-top: 4px;
    font-size: 0.9rem;
    color: var(--bs-gray-500);
}

//Order - блок
.full-cart-order {
    flex-basis: calc(33.3333% - var(--gap));
    max-width: calc(33.3333% - var(--gap));
}

.full-cart-order > div {
    border: 1px solid var(--bs-gray-400);
    border-radius: 12px;
    padding: 20px;
}

.full-cart-order--info {
    margin-top: 12px;
}
