
/* ТОП-МЕНЮ      */
.menu-bottom {
    height: 75px;
    box-sizing: content-box;
}
.menu-bottom > div {
    height: 59px;
}
.menu-bottom-catalog {
    min-width: 350px;
}
.menu-bottom-search {
    max-height: var(--max-height-search);
}
.menu-bottom-profile {
    min-width: 300px;
}

/* К А Т А Л О Г */
.menu-bottom-catalog .dropdown-menu {
    box-shadow: $shadow-dropdown;
}
.catalog {
    max-width: $width-root-menu + $width-sub-menu;
    display: flex;
}
.catalog-rootmenu .dropdown-item {
    font-size: 1rem;
}
.catalog-rootmenu .dropdown-item.active {
    background: var(--bs-gray-700);
}
.catalog-rootmenu .dropdown-item:hover {
    background: var(--bs-gray-700);
    color: var(--bs-white);
}
.catalog-rootmenu .dropdown-item > img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
.catalog-rootmenu {
    width: $width-root-menu;
}
.catalog-submenu {
    background: var(--bs-white);
    padding-left: $padding-left-submenu;
    padding-right: $padding-right-submenu;
    width: $width-sub-menu;
    overflow-y: visible;
    overflow-x: visible;
}
.catalog-submenu-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
}
.submenu-first-level {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.submenu-second-level-div {
    margin-bottom: 12px;
    display: flex;
}
.submenu-second-level-column {
    width: $width-sub-menu-column;
}
.submenu-second-level {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 6px;
}

//ПОИСК
.presearch {
    height: var(--max-height-search);
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.presearch-wrapper {
    height: 100%;
    position: relative;
    border-radius: 8px;
    line-height: 32px;
    font-size: 1.125rem;
    background: var(--bs-gray-200);
    z-index: 4;
}
.presearch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.1);
    z-index: 3;
}
#pre-search {
    background: var(--bs-gray-200);
}

.presearch:hover .presearch-wrapper{
    background: var(--bs-white);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 4%), 0 20px 40px rgb(0 0 0 / 8%);

}
.presearch:hover #pre-search, #pre-search:focus {
    background: var(--bs-white);
}
.presearch-suggest {
    display: block;
    z-index: 1001;
    background-color: var(--bs-white);
    border-top: none;

    border-radius: 0 0 10px 10px;
    color: #333;
    padding: 0 0 25px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 4%), 0 20px 40px rgb(0 0 0 / 8%);
}
.presearch-control {

}
.presearch-input {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 0 120px 0 20px !important;
    outline: 0;
    font-size: 1rem;
    height: 100%;
}
#pre-search:focus {
    border-radius: 8px 8px 0 0;
}
.presearch--icon-clear, .presearch--icon-search {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}
.presearch--icon-clear {
    right: 70px;
}
.presearch--icon-clear:after {
    content: "";
    background: #939393;
    background-size: cover;
    height: 24px;
    width: 1px;
    position: absolute;
    top: 7px;
    right: -7px;
}
.presearch--icon-clear:hover, .presearch--icon-search:hover {
    background: var(--bs-gray-200);
}
.presearch--icon-search {
    right: 12px;
}
a.presearch-suggest-item, a.presearch-suggest-item:hover {
    text-decoration: none;
}
.presearch-suggest-item {
    font-size: 0.9rem;
    display: flex;
    padding: 8px;
    color: var(--bs-gray-700);
}
.presearch-suggest-item:hover {
    background: var(--bs-gray-100);
}
.suggest--icon {
    /*width: 20px; */
    margin-right: 12px;
}
.suggest--icon > img {
    width: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 4px #7d7c7c;
}
.suggest--label {
    flex-grow: 1;
    text-align: left;
}

//КОРЗИНА
.dropdown-menu.cart-popup {
    right: 0;
    box-shadow: $shadow-dropdown;
}
.cart-popup {
    width: 480px;
    padding: 10px;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-body {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px 0;
}
.cart-item {
    display: flex;
    margin: 10px 0;
}
.cart-item>img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    box-shadow: $shadow-img;
}
.cart-item-info {
    width: auto;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9rem;
}
.cart-item-cost {
    margin: auto 0;
    margin-left: auto;
    padding-left: 10px;
    font-size: 1rem;
    white-space: nowrap;
}
.cart-item-combined {
    padding-left: 10px;
    margin: auto 0;
    margin-left: auto;
    white-space: nowrap;
}
.cart-item-base_cost {
    color: var(--bs-gray-500);
    text-decoration: line-through;
    font-size: 0.8rem;
    text-align: right;
}
.cart-item-discount_cost {
    font-size: 1rem;
    color: var(--bs-red);
}

.cart-item-quantity {
    color: var(--bs-gray-600);
}
.cart-item-trash {
    width: 20px;
    margin: auto 0;
    margin-left: 8px;
}
.cart-footer {
    padding-top: 10px;
    border-top: 1px solid var(--bs-gray-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#counter-cart {
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    right: 10px;
    background: var(--bs-red);
    padding: 4px;
    line-height: 1;
    border-radius: 10px;
    color: white;
    min-width: 20px;
    height: 20px;
}

#widget-cart-all-amount {
    font-size: 1.25rem;
    font-weight: 500;
}
#widget-cart-all-discount {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--bs-red);
}
#widget-cart-all-amount-mini {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 10px;
    margin-top: auto;
    text-decoration: line-through;
}
#cart-empty {
    text-align: center;
    font-size: 1.25rem;

}

