///// Контакты
//1 блок

.about-block {
    padding: 60px;
    background: #000;//var(--bs-gray-900);
    display: grid;
    p {
        color: var(--bs-gray-100);
    }
    a {
        color: #D7B56D;
    }
}

.heading {
    color: var(--bs-gold);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.heading-border {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    color: var(--bs-gold);
    text-transform: uppercase;
    &:after {
        content: '';
        max-width: 280px;
        height: 3px;
        background: var(--bs-gray-100);
        display: block;
        margin-top: 15px;
    }
}

///// Тарифы

.tariff-block {
    background: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    p {
        color: var(--bs-gray-100);
        font-size: 18px;
    }
}

.condition-data {
  //  padding-top: 60px;
}
.tariffs-items {
    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: var(--bs-gray-100);
    }
}
