:root {
 --max-height-search: 44px;
}

/* От Заказчика*/

$count-col-submenu: 1; //Кол-во столбцов в меню 1 - для маленьких, 3 для огромных - дублируется во frontend.js
$width-sub-menu-column: 280px; //Ширина столбца
$padding-left-submenu: 30px;
$padding-right-submenu: 20px;
$width-sub-menu: $padding-left-submenu + $width-sub-menu-column * $count-col-submenu + $padding-right-submenu;
$width-root-menu: 200px; //От кол-ва символов

$widget-height: 1rem; //Высота элементов фильтров

a {
    text-decoration: none;
    color: var(--bs-gray-800);
}
a:hover {
    color: var(--bs-gray-500);
}
html body {
    overflow-x: hidden;
}
.img-logo {
    width: 200px;
}

/* доп элементы Вынести в компоненты */
//Кнопка Scroll Up
button.scrollup {
    position: fixed;
    top: 0;
    right: 25px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: var(--bs-gray-900);
    border: none;
    outline: none;
    border-radius: 50% 0 50% 50%;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
    -webkit-transition: .9s;
    transition: .9s;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}
.scrollup i {
    display: inline-block;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.scrollup.is-active {
    top: 95%;
    -webkit-transform: translateY(-95%);
    transform: translateY(-95%);
    opacity: 1;
    visibility: visible;
}
.scrollup.is-active:hover, .scrollup.is-active:focus {
    color: #fff;
    transform: translateY(-95%) rotate(-45deg);
    -webkit-transform: translateY(-95%) rotate(-45deg);
    -moz-transform: translateY(-95%) rotate(-45deg);
    -o-transform: translateY(-95%) rotate(-45deg);
    -ms-transform: translateY(-95%) rotate(-45deg);
}
.scrollup.is-active:hover i, .scrollup.is-active:focus i {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
}

//Переписываем базовые checkbox и radiobutton
///checkbox
.checkbox-group {
    display: flex;
    align-items: center;
}
.checkbox-group label {
    padding-left: 6px;
    cursor: pointer;
}
input[type='checkbox']:not([role='switch']) {
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}
input[type='checkbox']:checked:not([role='switch']) {
    background: var(--bs-gray-900);
}
input[type='checkbox']:not([role='switch']):checked::before {
    content: '\2714'; /* check mark symbol Unicode */
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: white;
}
///radiobutton
//TODO сделать радиокнопку

/* ТОП-МЕНЮ      */
.menu-bottom {
    height: 75px;
    box-sizing: content-box;
}
.menu-bottom > div {
    height: 59px;
}
.menu-bottom-catalog {
    min-width: 350px;
}
.menu-bottom-search {
    max-height: var(--max-height-search);
}
.menu-bottom-profile {
    min-width: 300px;
}
.presearch {
    height: var(--max-height-search);
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.presearch-wrapper {
    height: 100%;
    position: relative;
    border-radius: 8px;
    line-height: 32px;
    font-size: 1.125rem;
    background: var(--bs-gray-200);
    z-index: 4;
}
.presearch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.1);
    z-index: 3;
}
#pre-search {
    background: var(--bs-gray-200);
}

.presearch:hover .presearch-wrapper{
    background: var(--bs-white);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 4%), 0 20px 40px rgb(0 0 0 / 8%);

}

.presearch:hover #pre-search, #pre-search:focus {
    background: var(--bs-white);
}
.presearch-suggest {
    display: block;
    z-index: 1001;
    background-color: var(--bs-white);
    border-top: none;

    border-radius: 0 0 10px 10px;
    color: #333;
    padding: 0 0 25px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 4%), 0 20px 40px rgb(0 0 0 / 8%);
}

.presearch-control {

}
.presearch-input {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 0 120px 0 20px !important;
    outline: 0;
    font-size: 1rem;
    height: 100%;
}
#pre-search:focus {
    border-radius: 8px 8px 0 0;
}
.presearch--icon-clear, .presearch--icon-search {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}
.presearch--icon-clear {
    right: 70px;
}
.presearch--icon-clear:after {
    content: "";
    background: #939393;
    background-size: cover;
    height: 24px;
    width: 1px;
    position: absolute;
    top: 7px;
    right: -7px;
}
.presearch--icon-clear:hover, .presearch--icon-search:hover {
    background: var(--bs-gray-200);
}
.presearch--icon-search {
    right: 12px;
}
a.presearch-suggest-item, a.presearch-suggest-item:hover {
    text-decoration: none;
}

.presearch-suggest-item {
    font-size: 0.9rem;
    display: flex;
    padding: 8px;
    color: var(--bs-gray-700);
}
.presearch-suggest-item:hover {
    background: var(--bs-gray-100);
}

.suggest--icon {
    /*width: 20px; */
    margin-right: 12px;
}

.suggest--icon > img {
    width: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 4px #7d7c7c;
}
.suggest--label {
    flex-grow: 1;
    text-align: left;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
    margin: 16px 0;
}
.breadcrumbs > li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;

}
.breadcrumbs > li:before {
    margin: 0 4px;
}
.breadcrumbs > li > a {
    text-decoration: none;
    color: var(--bs-gray-700);
}
.breadcrumbs > li > a:hover {
    text-decoration: none;
    color: var(--bs-gray-400);
}
.breadcrumbs > li.active {

}

/* К А Т А Л О Г */
.menu-bottom-catalog .dropdown-menu {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 4%), 0 20px 40px rgb(0 0 0 / 8%);
}
.catalog {
    max-width: $width-root-menu + $width-sub-menu;
    display: flex;
}
.catalog-rootmenu .dropdown-item {
    font-size: 1rem;
}
.catalog-rootmenu .dropdown-item.active {
    background: var(--bs-gray-700);
}
.catalog-rootmenu .dropdown-item:hover {
    background: var(--bs-gray-700);
    color: var(--bs-white);
}
.catalog-rootmenu .dropdown-item > img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
.catalog-rootmenu {
    width: $width-root-menu;
}
.catalog-submenu {
    background: var(--bs-white);
    padding-left: $padding-left-submenu;
    padding-right: $padding-right-submenu;
    width: $width-sub-menu;
    overflow-y: visible;
    overflow-x: visible;
}
.catalog-submenu-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
}
.submenu-first-level {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.submenu-second-level-div {
    margin-bottom: 12px;
    display: flex;
}
.submenu-second-level-column {
    width: $width-sub-menu-column;
}
.submenu-second-level {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 6px;
}

/* F O O T E R */
.footer {
    padding-top: 40px;
    background: var(--bs-gray-900);
    color: var(--bs-gray-200);
}
footer > .about {
    border-top: 1px solid var(--bs-gray-600) ;
}


/* CATALOG PAGE */

/* PRODUCTS PAGE */
.products-page-content {

}
// Фильтры
.products-page-filter {
    //position: fixed;
    transform: translate3d(0px, 0px, 0px);
    top: auto;
    left: 362px;
    bottom: 10px;
    width: 278px;
    min-width: 278px;
    border: 1px solid var(--bs-gray-400);
    border-radius: 12px;
}
.products-base-filter, .products-attribute-filter {
    border-bottom: 1px solid var(--bs-gray-400);
    padding: 12px;
}
.products-buttons-filter {
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.products-buttons-filter > button {
    flex-grow: 1;
    margin: 8px 0;
}
/// Check
.form-check-label, .form-check-input {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--bs-gray-700);
    border-color: var(--bs-gray-700);
}
.form-check-label {
    font-size: $widget-height;
}
.form-check-input {
    height: 1.2rem;
    top: 0;
}
//Numeric
.numeric-input {
    display: inline-block;
    margin: 5px 0;
    width: 49%;
    align-items: center;
    background: var(--bs-white);
    border: 1px solid var(--bs-gray-400);
    border-radius: 8px;
    font-size: 0.9rem;
    height: 40px;
    position: relative;
}
.numeric-input > input {
    font-size: 0.9rem;
    width: calc(100% - 20px);
    border: none;
    border-radius: 8px;
    color: var(--bs-gray-900);
    height: 100%;
    outline: none;
    padding-left: 0.5rem;
}
.clear-icon-input {
    overflow: hidden;
    right: 3px;
    width: 16px;
    height: 38px;
    position: absolute;
    top: 3px;
    font-size: 1.4rem;
}
.clear-icon-input.active:after {
    content: '\f00d';
    display: inline-block;
    font-family: 'Font Awesome 6 Pro', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    text-transform: none;
    cursor: pointer;
    color: var(--bs-gray-700);
}
//Variant Image
.variant-image-container {
    margin: 4px 0;
}
.variant-image-container img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
}
.variant-image-container.active img {
    border: 2px solid var(--bs-warning);
}
.variant-image-container input {
    display: none;
}
.variant-image-container label, .variant-container label {
    cursor: pointer;
}
.variant-image-container label>span {
    font-size: 1rem;
    padding-left: 6px;
}
//КАРТОЧКА ТОВАРА В СПИСКЕ
.product-card-image {

}
.product-card-image img {
    width: 100%;
}
.product-card-name {
    height: 80px;
    align-items: center;
    margin: auto 0;
    display: flex;
}
.product-card-info {

}
.product-card-to-cart {

}

/* PRODUCT PAGE */




$font-letter-spacing: (
'025': 0.25px,
'05': 0.5px,
'075': 0.75px,
'1': 1.0px,
'125': 1.25px,
'150': 1.50px,
);
@each $key, $num in $font-letter-spacing {
    .ls-#{$key} {
        letter-spacing: $num;
    }
}
.fs-7 {
    font-size: $font-size-base * 0.9;
}
.fs-8 {
    font-size: $font-size-base * 0.75;
}

