:root {
 --max-height-search: 44px;
}



/* От Заказчика*/

$count-col-submenu: 1; //Кол-во столбцов в меню 1 - для маленьких, 3 для огромных - дублируется во frontend.js
$width-sub-menu-column: 280px; //Ширина столбца
$padding-left-submenu: 30px;
$padding-right-submenu: 20px;
$width-sub-menu: $padding-left-submenu + $width-sub-menu-column * $count-col-submenu + $padding-right-submenu;
$width-root-menu: 200px; //От кол-ва символов

$widget-height: 1rem; //Высота элементов фильтров


*, *:after, *:before {
    box-sizing: border-box;
    border: 0;
}

a {
    text-decoration: none;
    color: var(--bs-gray-800);
}
a:hover {
    color: var(--bs-gray-500);
}
html body {
    overflow-x: hidden;
}
.img-logo {
    width: 200px;
}
body {
    height: 100vh;
}


//Переписываем базовые checkbox и radiobutton
///checkbox
.checkbox-group {
    display: flex;
    align-items: center;
}
.checkbox-group label {
    padding-left: 6px;
    cursor: pointer;
}
input[type='checkbox']:not([role='switch']) {
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
input[type='checkbox']:checked:not([role='switch']) {
    background: var(--bs-gray-900);
}
input[type='checkbox']:not([role='switch']):checked::before {
    content: '\2714'; /* check mark symbol Unicode */
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

///radiobutton
input[type='radio']:not([role='switch']) {
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
input[type='radio']:checked:not([role='switch']) {
    background: var(--bs-gray-900);
}
input[type='radio']:not([role='switch']):checked::before {
    content: '\2714'; /* check mark symbol Unicode */
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

//TODO сделать радиокнопку


//РАДИОКНОПКА С ИЗОБРАЖЕНИЕМ

label.radio-img > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label.radio-img > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label.radio-img > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border-radius: 4px;
    border:2px solid var(--bs-red);
}

//DROPDOWN-HOVER ПРИ НАВЕДЕНИИ

.dropdown-hover.dropdown-toggle:after {
    border: none;
    content: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

//КАРУСЕЛИ - Не показывать, пока не загрузится
.owl-carousel {
    display: none;
}
.owl-carousel.owl-loaded {
    display: block;
}


/* F O O T E R */
.footer {
    padding-top: 40px;
    background: var(--bs-gray-900);
    color: var(--bs-gray-200);
}
footer > .about {
    border-top: 1px solid var(--bs-gray-600) ;
}
.footer-description {
    font-size: 13px;
}

.footer-heading {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: var(--bs-gray-200);
    margin-bottom: 20px;
}
ul.footer-menu {
    margin-left: 0;
    padding-left: 0;
}
ul.footer-menu > li {
    list-style: none;
    margin-bottom: 20px;
    margin-left: 0;
}
ul.footer-menu > li > a {
    color: var(--bs-gray-200);
}
ul.footer-menu > li > a:hover {
    color: var(--bs-gray-100);
}
.about {
    border-bottom: 4px solid var(--bs-gold);
}
.about a {
    color: var(--bs-gray-400);
}
.about a:hover {
    color: var(--bs-gray-100);
}
/* Деление экрана - слева список, справа действие с прикреплением */

.left-list-block {
    padding-right: 24px;
    flex-basis: calc(66.6666% - var(--gap));
    max-width: calc(66.6666% - var(--gap));
}

.right-action-block {
    flex-basis: calc(33.3333% - var(--gap));
    max-width: calc(33.3333% - var(--gap));
}

.sticky-block {
    position: sticky;
    top: 100px;
}
.sticky-block > div {
    border: 1px solid var(--bs-gray-400);
    border-radius: 12px;
    padding: 20px;
}

/* Общие блоки, карточки */
//карточка тенью и закругл.углами
.box-card {
    box-shadow: $shadow-box;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
}

/* CATALOG PAGE */

/* PRODUCTS PAGE */
.products-page-content {

}
// Фильтры
.products-page-filter {
    //position: fixed;
    transform: translate3d(0px, 0px, 0px);
    top: auto;
    left: 362px;
    bottom: 10px;
    width: 278px;
    min-width: 278px;
    border: 1px solid var(--bs-gray-400);
    border-radius: 12px;
}
.products-base-filter, .products-attribute-filter {
    border-bottom: 1px solid var(--bs-gray-400);
    padding: 12px;
}
.products-buttons-filter {
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.products-buttons-filter > button {
    flex-grow: 1;
    margin: 8px 0;
}
/// Check
.form-check-label, .form-check-input {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--bs-gray-700);
    border-color: var(--bs-gray-700);
}
.form-check-label {
    font-size: $widget-height;
}
.form-check-input {
    height: 1.2rem;
    top: 0;
}
//Numeric
.numeric-input {
    display: inline-block;
    margin: 5px 0;
    width: 49%;
    align-items: center;
    background: var(--bs-white);
    border: 1px solid var(--bs-gray-400);
    border-radius: 8px;
    font-size: 0.9rem;
    height: 40px;
    position: relative;
}
.numeric-input > input {
    font-size: 0.9rem;
    width: calc(100% - 20px);
    border: none;
    border-radius: 8px;
    color: var(--bs-gray-900);
    height: 100%;
    outline: none;
    padding-left: 0.5rem;
}
.clear-icon-input {
    overflow: hidden;
    right: 3px;
    width: 16px;
    height: 38px;
    position: absolute;
    top: 3px;
    font-size: 1.4rem;
}
.clear-icon-input.active:after {
    content: '\f00d';
    display: inline-block;
    font-family: 'Font Awesome 6 Pro', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    text-transform: none;
    cursor: pointer;
    color: var(--bs-gray-700);
}
//Variant Image
.variant-image-container {
    margin: 4px 0;
}
.variant-image-container img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
}
.variant-image-container.active img {
    border: 2px solid var(--bs-warning);
}
.variant-image-container input {
    display: none;
}
.variant-image-container label, .variant-container label {
    cursor: pointer;
}
.variant-image-container label>span {
    font-size: 1rem;
    padding-left: 6px;
}
//КАРТОЧКА ТОВАРА В СПИСКЕ
.product-card-image {

}
.product-card-image img {
    width: 100%;
}
.product-card-name {
    height: 80px;
    align-items: center;
    margin: auto 0;
    display: flex;
}
.product-card-info {

}
.product-card-to-cart {

}

/* PRODUCT PAGE */




$font-letter-spacing: (
'025': 0.25px,
'05': 0.5px,
'075': 0.75px,
'1': 1.0px,
'125': 1.25px,
'150': 1.50px,
);
@each $key, $num in $font-letter-spacing {
    .ls-#{$key} {
        letter-spacing: $num;
    }
}
.fs-7 {
    font-size: $font-size-base * 0.9;
}
.fs-8 {
    font-size: $font-size-base * 0.75;
}

.btn-gold {
    --bs-btn-color: #000;
    --bs-btn-bg: #D7B56D; //D7B56D  45-97
    --bs-btn-border-color: #D7B56D;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d6be8b;  //45-83
    --bs-btn-hover-border-color: #d6bc83; //45-87
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #d6c296;  //45-78
    --bs-btn-active-border-color: #d6bc83; //87
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #D7B56D;
    --bs-btn-disabled-border-color: #D7B56D;
}
