// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;

$line-height-base: 1.5;

$primary: #275aa6;

$shadow-dropdown: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 4%), 0 20px 40px rgb(0 0 0 / 8%);

$shadow-box: 0 2px 8px rgb(0 0 0 / 20%);
$shadow-card: 0 2px 2px rgb(0 0 0 / 20%);
$shadow-img: 0 4px 4px #7d7c7c;

$transition: all .3s cubic-bezier(.645,.045,.355,1);
$transition-slow: all 1s cubic-bezier(.645,.045,.355,1);

$radius-big: 12px;
$radius-card: 8px;
$radius-button: 6px;
$radius-icon: 4px;


$h1-font-size:                $font-size-base * 2.125 !default;
$h2-font-size:                $font-size-base * 1.85 !default;
$h3-font-size:                $font-size-base * 1.65 !default;
$h4-font-size:                $font-size-base * 1.4 !default;
$h5-font-size:                $font-size-base * 1.20 !default;
$h6-font-size:                $font-size-base !default;


//#{$pagination-padding-x};
//--#{$prefix}pagination-padding-y: #{$pagination-padding-y};
//@include rfs($pagination-font-size, --#{$prefix}pagination-font-size);
//$pagination-border-radius;
//$pagination-border-width;

$pagination-color: #212529;
//$pagination-bg ;

//$pagination-border-color: ;

$pagination-hover-color: #000000;
//$pagination-hover-bg: ;
//$pagination-hover-border-color: ;
//$pagination-focus-color: ;
//$pagination-focus-bg: ;
//$pagination-focus-box-shadow: ;
//$pagination-active-color: ;
$pagination-active-bg: #212529;
$pagination-active-border-color: #212529;
//$pagination-disabled-color: ;
//$pagination-disabled-bg: ;
//$pagination-disabled-border-color: ;*/
// scss-docs-start font-sizes

:root {
    --bs-gold: #D7B56D;
}
