.article-kitchen-2025 {
    min-height:203px;
    margin-bottom: 20px;
    .heading {
        text-transform:uppercase;
        font-weight:600;
        padding:10px 15px;
        background:$orange;
        margin-bottom:15px;
    }
}
.series-kitchen-2025 {
    img {display:block;}
    .text {min-height:96px;}
    .bg-f2f2f2 {padding:25px;}
}
@media (max-width: 990px) {
    .article-kitchen-2025 {min-height: auto;}
}
