.quality-kitchens {
    img {
        max-width:100%;
        display:block;
    }
    .row {
        align-items: end;
    }
}
@media (max-width: 990px) {
    .quality-kitchens {
        h2 {
            margin: 10px 0;
        }
        .row {
            align-items: flex-start;
        }
        .quality-kitchens-text {
            .m-b_50 {
                margin-bottom: 20px;
            }
        }
        img {
            margin-bottom:10px;
        }
    }
}
@media (max-width: 576px) {
    .quality-kitchens {
        .quality-kitchens-text {
            h3 {
                font-size: 23px;
            }
        }
    }
}
