.advantages-kitchen {
    padding: 50px 0 0 0;
    .advantages-kitchen-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
        > div {
            width:calc(100% - 157px);
        }
        svg {
            margin-right: 10px;
            width: 147px;
        }
        .heading {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 700;
            color: $orange;
            text-transform: uppercase;
        }
    }
}
@media (max-width: 768px) {
    .advantages-kitchen {
        .advantages-kitchen-item {
            margin-bottom: 20px;
            > div {
                width: calc(100% - 117px);
            }
            svg {
                width:100px;
                height: 100px;
            }
        }
    }
    .advantages-kitchen-item > div {}
}
@media (max-width: 576px) {
    .advantages-kitchen {
        .advantages-kitchen-item {
            margin-bottom: 20px;
            > div {
                width: calc(100% - 87px);
            }
            svg {
                width:70px;
                height: 70px;
            }
            .heading {
                margin-bottom: 0px;
                font-size: 16px;
            }
        }
    }
}
