@media (max-width: 990px) {
    #main-slider-interesting .main-slider .sl-text {padding:40px 50px 40px 30px;}
    #main-slider-interesting .main-slider .swiper-slide:first-child .sl-text {background:$light-gray;}
    #main-slider-interesting .main-slider .swiper-slide:nth-child(3) .sl-text {background:$orange;}
    #main-slider-interesting .main-slider .swiper-slide:nth-child(3) .heading-border {color:white;}
    #main-slider-interesting .main-slider .swiper-slide:nth-child(4) .sl-text {background:$blue;}
    #main-slider-interesting .main-slider .swiper-slide:nth-child(5) .sl-text {background:v$light-gray;}
}
@media (max-width: 768px) {
    #main-slider-interesting .main-slider .sl-text .heading-border {font-size: 20px;}
    #main-slider-interesting .main-slider .sl-text .text {line-height: 20px;font-size: 16px;}
    #main-slider-interesting .main-slider .sl-text .btn-big {padding: 10px 19px;font-size: 12px;}
}
@media (max-width: 576px) {

}
