.main-rating-item {
    border: 2px solid black;
    padding: 20px 15px;
    border-radius: 10px;
    display: block;
    text-align: center;
    min-height: 135px;
    &:hover {
        border: 2px solid $orange;
    }
    img {
        max-width: 160px;
        margin: 20px 0 0 0;
    }
    ul.star {
        display: flex;
        justify-content: center;
    }
    ul.star li {
        list-style: none;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        font-weight: 500;
    }
    ul.star li.one {
        background: url(https://nordihome.ru/wp-content/themes/euroikea/images/ic_round-star.svg) no-repeat center center / 24px;
    }
}
