.item-advantages {
    margin-bottom: 40px;
    text-align: center;
    .heading {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-weight: 700;
        color: $orange;
        text-transform: uppercase;
    }
}
