.item-step  {
    .heading {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-weight: 700;
        color: var(--orange);
        text-transform: uppercase;
    }
    .text {
        margin: 30px 0;
    }
    a {
        font-weight: 600;
    }
}
