.item-advantages {
    margin-bottom: 40px;
    text-align: center;
    .heading {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-weight: 700;
        color: $orange;
        text-transform: uppercase;
    }
}
@media (max-width: 768px) {
    .item-advantages {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .item-advantages-info {
            margin-left: 10px;
        }
    }
}
@media (max-width: 576px) {
    .item-advantages {
        margin-bottom: 20px;
        svg {
            width: 70px;
            height: 70px;
        }
        .heading {
            font-size: 18px;
        }
        .text {
            font-size: 15px;
            line-height: 18px;
        }
    }
}
