.accordion_faq {
    max-width: 760px;
    margin: 0 auto;
    color:white;
    .accordion-item {
        position: relative;
    }
        .accordion-header {
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            padding: 20px 0;
            margin-bottom: 20px;
            padding-right: 50px;
        }
        .accordion-body {
            color: $orange;
            font-weight: 500;
        }
}
