.accordion_faq {
    max-width: 760px;
    margin: 0 auto;
    color:white;
    .accordion-item {
        position: relative;
        border: none;
            .accordion-header {
                font-size: 25px;
                font-weight: 600;
                cursor: pointer;
                .accordion-button {
                    background: transparent;
                    color: white;
                    font-size: 25px;
                }
            }
            .accordion-body {
                color: $orange;
                font-weight: 500;
            }
    }

}
