.c-mini-item {
    position: relative;
    display: block;
    overflow: hidden;
    &:before {
        background: black;
        content: '';
        z-index: 98;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.3;
    }
    &:hover {
        text-decoration: none;
        img {
            transform: scale(1.2);
        }
    }
    img {
        transition: all 1s ease;
        display: block;
        width: 100%;
    }
    .heading {
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        padding: 10px 20px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 98;
        background: white;
        border-radius: 50px;
        min-width: 190px;
    }
}
